.btn,
.btn-link {
  color: $mountain-meadow;

  &:hover {
    color: $malachite;
    text-decoration: none;
  }
}

.btn-link {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

.steps {
  padding: 0;
  margin: 0 0 40px;

  li {
    display: inline-block;
    margin: 0 10% 40px;
    text-align: center;
    vertical-align: top;
    width: 80%;

    &:last-child {
      margin-bottom: 0;
    }

    @media only screen and (min-width: $medium-screen) {
      margin: 0 3%;
      width: 27%;
    }

    .step-number {
      border: 4px solid $malachite;
      border-radius: 50%;
      color: $malachite;
      display: inline-block;
      font-size: 2.8em;
      font-weight: 700;
      height: 100px;
      line-height: 100px;
      margin: 0 0 20px;
      text-align: center;
      width: 100px;
    }
  }
}

.carousel-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel {
  list-style: none;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  padding: 0 0 20px;
  margin: 0 0 20px;

  &::before,
  &::after {
    content: '';
    flex: 0 0 10px;
  }

  .carousel-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    width: 200px;

    img {
      margin: 0 auto 15px;
      width: 75%;
    }

    .quote-author {
      font-size: 0.9em;
    }
  }
}

@media only screen and (min-width: 1368px) {
  .carousel {
    overflow-x: unset;
    margin: auto;

    &:before,
    &:after {
      content: none;
    }

    .carousel-card {
      margin: 0 15px;
    }
  }
}

.bkg-color--jumbo {
  background-color: $alabaster;
}
