@import 'variables';

.wrapper {
  padding: 30px;
}

.wrapper--vertical {
  padding: 30px 0;
}

.margin--bottom--m {
  margin-bottom: 24px;
}

.padding--sides--m {
  padding: 0 16px;
}

.hero {
  position: relative;

  video {
    height: auto;
    margin: 0 auto;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;

    @media only screen and (min-width: $medium-screen) {
      max-height: 100%;
      width: 100%;
    }
  }

  .hero-content {
    color: $white;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 1.9em;
      font-weight: bold;
      padding: 0;
    }
  }
}

footer {
  color: $white;
  padding: 20px 0 100px;

  ul {
    list-style: none;

    li {
      margin: 0 0 5px;
    }
  }
}

.breadcrumbs {
  color: $breadcrumb-grey;
  font-size: .8em;
  line-height: 135%;
  padding: 0 16px;

  p {
    color: $breadcrumb-grey;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .breadcrumb {
    display: inline-block;
    margin: 0 4px 0 0;

    p {
      &::after {
        content: '→';
        margin-left: 4px;
      }
    }

    &:last-child {
      margin-right: 0;

      p {
        &::after {
          content: '';
          margin-left: 0;
        }
      }
    }
  }
}

header {
  background: $white;
  box-shadow: 0 2px 10px 0 $gray-chateau;
  color: $black;
  z-index: 100;

  @media (min-height: 300px) {
    position: sticky;
    top: 0;
  }
}

.logo-holder {
  line-height: 135%;
  padding: 18px;
  text-align: center;

  a {
    display: inline-block;
  }
}

// Burger menu
// Position and sizing of burger button
.bm-burger-button {
  position: fixed;
  right: 16px;
  top: 17px;
}

// Color/shape of burger icon bars
// .bm-burger-bars {
// }

// Color/shape of burger icon bars on hove
// .bm-burger-bars-hover {
// }

// Position and sizing of clickable cross button
.bm-cross-button {
  right: 16px;
  top: 16px;
}

// Color/shape of close button cross
// .bm-cross {
// }

// Sidebar wrapper styles
// Note: Beware of modifying this element as it can break the animations -
// you should not need to touch it in most cases
.bm-menu-wrap {
  height: 100%;
  position: fixed;
}

// General sidebar styles
.bm-menu {
  background: $alabaster;
  font-size: 1.2em;
  padding: 1.2em .5em 0;

  ul {
    &:focus {
      outline: none;
    }

    li {
      border-bottom: 1px solid $gray;
      padding: 25px 1em;

      &:hover {
        cursor: pointer;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

// Morph shape necessary with bubble or elastic
// .bm-morph-shape {
// }

// Wrapper for item list
// .bm-item-list {
// }

// Individual item
.bm-item {
  display: inline-block;
}

// Styling of overlay
.bm-overlay {
  background: $overlay-grey;
}
