@import 'variables';

.wrapper {
  padding: 30px;
}

.wrapper--vertical {
  padding: 32px 0;
}

.margin--bottom--m {
  margin-bottom: 24px;
}

.padding--sides--m {
  padding: 0 16px;
}

.button-holder {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hero {
  position: relative;

  video {
    height: auto;
    margin: 0 auto;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;

    @media only screen and (min-width: $medium-screen) {
      max-height: 100%;
      width: 100%;
    }
  }

  .hero-content {
    position: absolute;
    z-index: 99;
    top: 0;

    .holder {
      text-align: center;
      margin: 35px auto;
      padding: 0 20px;
    }
  }
}

nav {
  background: $white;
  box-shadow: 0 2px 10px 0 $gray-chateau;
  color: $black;
  padding: 18px;
  white-space: nowrap;
  z-index: 100;


  @media (min-height: 300px) {
    position: sticky;
    top: 0;
  }

  ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
  }

  li {
    display: flex;
    margin: 0;

    &.nav-logo {
      text-align: center;
    }

    a {
      margin: 0;
      padding: 0;
    }

    a,
    button {
      img {
        display: block;
      }
    }
  }
}

footer {
  color: $white;
  padding: 20px 0 100px;

  ul {
    list-style: none;

    li {
      margin: 0 0 5px;
    }
  }
}

.breadcrumbs {
  color: $breadcrumb-grey;
  font-size: 0.8em;
  line-height: 135%;
  padding: 0 16px;

  p {
    color: $breadcrumb-grey;
    font-family: 'Poppins', monospace;
    font-weight: 500;
  }

  .breadcrumb {
    display: inline-block;
    margin: 0 4px 0 0;

    p {
      &::after {
        content: '→';
        margin-left: 4px;
      }
    }

    &:last-child {
      margin-right: 0;

      p {
        &::after {
          content: '';
          margin-left: 0;
        }
      }
    }
  }
}
