@import 'variables';

h1,
h2,
h3 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  line-height: 125%;
}

h1 {
  font-size: 1.8em;
  line-height: 130%;
  margin: 0 0 24px;
  color: $white;
  text-align: center;

  @media only screen and (min-width: $medium-screen) {
    font-size: 2.4em;
  }
}

h2 {
  text-align: center;
  font-size: 1.6em;
  margin: 0 auto 30px;
  width: 75%;

  @media only screen and (min-width: $medium-screen) {
    font-size: 2em;
    width: 100%;
  }
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 14px 0 20px;
}

h4 {
  margin: 0 0 5px;
  line-height: 135%;
  font-size: 1.2em;
}

p {
  margin: 0 0 10px;
  color: $gray;

  &:last-child {
    margin: 0;
  }
}

a {
  color: $mountain-meadow;
  font-family: 'Karla', sans-serif;
  text-decoration: none;

  &:hover {
    color: $malachite;
    text-decoration: none;
    cursor: pointer;
  }

  &.pill {
    background-color: $mountain-meadow;
    border-radius: 20px;
    border: 1px solid $mountain-meadow;
    padding: 10px 28px;
    font-size: 90%;
    color: $white;

    &:hover {
      background-color: $malachite;
    }
  }
}

.logo {
  display: inline-block;
  vertical-align: middle;

  .logo-shape {
    width: 14px;
    height: 14px;
    border: 2px solid $mountain-meadow;
    border-radius: 50%;
    background: $white;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

  span {
    color: $mountain-meadow;
    text-align: center;
    font-size: 1.25em;
    display: inline-block;
    vertical-align: sub;
  }
}
