@import 'variables';
// Font-families
.font--family-1 {
  font-family: 'Poppins', sans-serif;
}

// Font size
.font-size--md {
  font-size: 1.4em;
}

.font-size--lg {
  font-size: 1.6em;
}

// Colors
.color--jumbo {
  color: $jumbo;
}

.color--gray {
  color: $gray;
}

.color--black {
  color: $black;
}

.color--white {
  color: $white;
}

.bkg--black {
  background-color: $black;
}

// Margins
.margin-bottom--md {
  margin-bottom: 20px;
}

.margin-bottom--lg {
  margin-bottom: 30px;
}

// Text alignment
.text--center {
  text-align: center;
}
