@import 'variables';

.color--jumbo {
  color: $jumbo;
}

.color--gray {
  color: $gray;
}

.color--black {
  color: $black;
}

.color--white {
  color: $white;
}

.bkg--black {
  background-color: $black;
}

.margin-bottom--lg {
  margin-bottom: 20px;
}
